.body { height: 7000px;padding-top: 70px;}

h1 ,h2 ,h3 ,h4 .lead {font-family: 'Raleway',sans-serif;}

html {scroll-behavior: smooth;}
/* start overriggeng bootstrap */
/* start option-box */
.option-box{position:fixed; top: 100px; left: 0px; z-index: 9999;}

.option-box .color-option {float: left;padding: 15px;width: 200px;background-color: #333;} 

.option-box .color-option ul li {width:20px; height: 20px; margin-right: 4px; display: inline-block;}

.option-box .ooo {padding: 4px; font-size: 50px; background: #e37bab;}
/* start option-box */
.navbar-collapse.collapse { height: auto !important; padding-bottom: 20px; overflow: visible !important;}

.navbar-inverse {background-color: #8f8f8f; font-weight: bold;}

.navbar-brand {float: left; height: 50px; padding: 25px 63px; font-size: 30px; line-height: 20px;}

.navbar-right {margin-right: 60px; padding-top: 10px; margin-bottom: -7px;}

.dropdown-menu {font-size: 20px;}

.dropdown-menu > li > a {padding: 7px 30px;}

.navbar-right .dropdown-menu { right: auto; left: 0;}

.navbar-toggel { margin-bottom: 18px;}
/* end overriggeng bootstrap */
/* start carousel */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {height: 500 hw;}

.carousel-caption { bottom: 200px; background-color: rgba(3, 3, 3, 0.1); padding-left: 20px; padding-right: 20px;}

.carousel-indicators {margin-bottom: 25px;}

.carousel-indicators li {width: 20px; height: 20px; bottom: 0px;}

.carousel-inner>.item>img {width: 100%;}

.carousel-indicators .active {width: 22px; height: 22px; bottom: 0px;}
/* end carousel */
/* start about */
.about { padding-top: 40px; padding-bottom: 40px;}

.about h1 {font-size: 35px; text-transform: capitalize; font-weight: bold; color: #888;}

.about .h1 span {color: #888;}

.about p strong {color: #888;}

.about p s.lead {margin-bottom: 135px;}
/* end about */
/* start features */
.features { background: url(./images/kha.jpg) no-repeat center center fixed; padding-bottom: 40px; margin-bottom: 100px; height: 450px;}

.yyy {background-color: rgba(2, 2, 2, 0.4); min-height: 450px; padding-bottom: 100px;}

.yyy .container{min-height: 450px;}

.feat {padding-top:170px; padding-bottom: 70px;}

.features .feat .glyphicon {font-size: 50px;}

.features .feat .h1 {padding-bottom: 0px;}

.features .feat button {font-weight: bold;}
/* end features */
/* start teatimonial */
.testimonial {
  background: url(./images/b2.jpg) no-repeat center center fixed;
  height: 550px;
  margin-bottom:50px;
  padding-top: 15px;
}
.testimonial .h1 {padding-top: 40px; padding-bottom: 20px;}

.testimonial p {margin-bottom: 15px; line-height: 2em;}

#test .carousel-indicators {margin-bottom: 5px;}

.testimonial span {font-size: 20px; font-weight: bold; text-transform: uppercase;}

#test .carousel-indicators li
 {
  position: static;
  width: 100px;
  height: 100px;
  background-color: none;
  margin-bottom: -153px;
  border-radius: 50%;
  margin-left: 10px;
  text-indent: 0px;
  overflow: hidden;
}
#test .carousel-indicators li:active{ opacity: 1; width: 100px; height: 100px; background-color: none;}

#test .carousel-indicators li img {max-width: 100%; padding-bottom: 20px;}
/* end teatimonial */
/* start price-table */
.price-table {padding-top: 25px; padding-bottom: 110px;}

.container .h1 {padding-bottom: 40px;}

.price-table .price_box 
{
  border-radius: 15px;
  padding-top: 15px;
  margin-bottom: 50px;
  -webkit-transform: scale(1.1, 1.1) rotate(360deg);
  -moz-transform: scale(1.1, 1.1) rotate(360deg);
  -o-transform: scale(1.1, 1.1) rotate(360deg);
  transform: scale(1.1, 1.1) rotate(360deg);
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transtion: 0.7s;
  transition: all 0.7s;
}

.price-table .price_box:hover p {
  -webkit-transform: scale(1.1, 1.1) rotate(360deg);
  -moz-transform: scale(1.1, 1.1) rotate(360deg);
  -o-transform: scale(1.1, 1.1) rotate(360deg);
  transform: scale(1.1, 1.1) rotate(360deg);
}
.price-table .price_box p {
  font-size: 40px;
  font-weight: bold;
  border-radius: 100%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transtion-duration: 0.7s;
  transition-duration: 0.7s;
}
.price-table .price_box ul { font-size: 20px; font-weight: bold; line-height: 200%;}

.price-table .price_box button { margin-top: 7px; margin-bottom: 10px;}
/* end price-table */
/* start our _team  */
.team { background: url(./images/554.jpg) no-repeat center center fixed; width: 100%; min-height: 600px;}

.team .our-team { background-color: rgba(2, 2, 2, 0.2); min-height: 600px;}

.team .our-team .container .h1 {padding-top: 45px;}

.team .our-team .container .person { overflow: hidden; float: left; margin-bottom: 30px;}

.team .our-team .container .person img { width: 250px; height: 250px; border-radius: 50%; margin-right: 20px;}
/* end our_team */
/* statr section subscribe */
.subscribe {
  background: url(./images/pexels-pixabay-434337.jpg) no-repeat center center fixed;
  padding-bottom: 50px;
  height: 500px;
  clip-path: polygon(0 31%, 100% 0, 100% 100%, 0 78%);
  background-color: rgba(2, 2, 2, 0.3);
}
.subscribe .suboverlay { background-color: rgba(2, 2, 2, 0.3); min-height: 500px;}

.subscribe .container .h1 {color: black; padding-top: 120px;}

.subscribe .container p {font-size: 30px; text-transform: capitalize;}

.subscribe .form-inline {margin-top: 35px;}

.subscribe .form-inline .form-control {width: 360px; height: 36px; border-radius: 0;}

.subscribe .form-inline button {width: 100px; height: 36px; border-radius: 0; font-size: 16px;}
/* end section subscribe */
/* start section statistics */
.statistics {background: url("./images/a5.jpg") no-repeat center center fixed; min-height: 500px; margin-bottom: 55px;}

.statistics .data { background-color: rgba(2, 2, 2, 0.07); min-height: 500px; padding-top: 50px; padding-bottom: 50px;}

.statistics .data .container .h1 {text-transform: capitalize;}

.statistics .data .container span {font-size: 100px;}

.statistics .data .container .statis p {font-size: 60px;}
/* end section statistics */
/* start section progress */
.our_skiless { padding-top: 20px; padding-bottom: 70px;}

.our_skiless .h1 {padding-bottom: 50px; font-weight: bold;}

.our_skiles .container .our_progress .progress {text-align: left}

.our_skiless h3 { margin-top: 0px; font-weight: bold;}

.our_skiless .progress {height: 34px;}

.our_skiless .progress .progress-bar {line-height: 34px;}
/* end section progress */
/* start contact-us */
.contact-us { background: url(./images/ooo.jpg) no-repeat center center fixed; min-height: 450px; margin-bottom: 40px;}

.contact-us .us {background-color: rgba(2, 2, 2, 0.2); min-height: 450px;}

.contact-us .us .container .h1 {padding-bottom: 5px;}

.contact-us .us .container p {padding-bottom: 20px;}

.contact-us .us .container span {font-size: 80px; padding-top: 20px;}

.contact-us .us .container textarea {height: 81px; margin-bottom: 17px;}

.contact-us input[type="text"],

.contact-us textarea {background-color: rgba(2, 2, 2, 0.2); border: none;}

.contact-us button {font-size: 15px; font-weight: bold;}
/*end contact-us */
/* start section cilent */
.cilent 
{padding-top: 20px; padding-bottom: 20px;}

.cilent .container img {
  opacity: 0.4;
  filter: alpha(opacity= "40");
  margin-bottom: 20px;
  margin-top: 20px;
  }

  .cilent .container img:hover {opacity: 1; filter: alpha(opacity= "1");}
/* start section cilent */
/* start section footer */
.footer { background-color: #e7bd95; color: #aaa; padding-top: 20px; padding-bottom: 0px;}

.footer h2 {padding-bottom: 0px; padding-top: 10px;}

.footer .safy {overflow: hidden;}

.footer .safy li {
  float: left;
  width: 29.33%;
  margin-top: 19px;
  margin-bottom: 15px;
  margin-right: 9px;
  padding-top: 10px;
  text-align: center;
  font-size: 13px;}

.footer .icons-list { margin-top: 20px; margin-bottom: 40px; overflow: hidden;}

.footer .icons-list li {
  float: left;
  margin-right: 4px;
  opacity: (0.4);
  filter: alpha(opacity= "40");}

.footer .icons-list img:hover {opacity: (1); filter: alpha(opacity= "1");}

.footer .img-thumbnail {background-color: rgba(2, 2, 2, 0.7); border: 3px solid #666;}

.footer .copyright {margin-top: 20px; margin-bottom: 0px; background-color:#333; font-size: 20px;}
/* end section footer */
/* start top scroll */
.scrool-top
{
  background-color: #e37bab;
  color: #fff;
  text-align:right ;
  width: 46px;
  height: 49px;
  padding: 13px;  
  border:2px solid #e7bd95;
  border-radius: 50%;
  font-size: 20px;
  z-index: 9999;
  position: fixed;
  display: none;
  cursor: pointer;}
/* end top scroll */
/* start section loading-overlays  */
.loading-overlay
{
position: fixed;
top:0;
left: 0;
width:100%;
height: 100%;
z-index:99999;
background-color: #2980b9;
color: #fff;
}
.spinner { margin: 200px auto; width: 80px; height: 50px; text-align: center; font-size: 10px;} 

.spinner>div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }

  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/* end section loading-overlays */
/* start grouping */
.price-table .price_box,
.dropdown-menu>li>a
{
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;
}
.contact-us,
.statistics,
.subscribe,
.team,
.testimonial,
.features
{-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; }
/* end grouping */